<div id="egg" class="uk-section">


<h1 class="uk-heading-line uk-text-center"><span>Χρήσιμες Πληροφορίες</span></h1>
<hr class="uk-divider-icon">


    <div class="uk-container">
	
	
	<ul class="uk-child-width-expand" uk-tab>
    <li><a href="#">Διαδικασια Εγγραφης</a></li>
    <li><a href="#">Διαρκεια Φοιτησης</a></li>
	<li><a href="#">Πρακτικη Ασκηση</a></li>
    <li><a href="#">Τιτλος Σπουδων</a></li>
</ul>

<ul class="uk-switcher uk-margin">
    <li> Δικαίωμα εγγραφής έχουν στο Α΄εξάμηνο, οι απόφοιτοι της μη υποχρεωτικής δευτεροβάθμιας εκπαίδευσης, δηλαδή των ΓΕΛ και ΕΠΑΛ, καθώς και οι κάτοχοι ισότιμων τίτλων ανεξαρτήτως ορίου ηλικίας.
	<p>Η εισαγωγή των υποψηφίων καταρτιζομένων στα Ι.Ε.Κ.της Δ.ΥΠ.Α πραγματοποιείται <u>αποκλειστικά</u> μέσω gov.gr με τους κωδικούς TAXIS πατώντας στην παρακάτω εικόνα/σύνδεσμο του gov.gr</p>
	<a href="https://www.gov.gr/ipiresies/ekpaideuse/eggraphe-se-skholeio/eggraphe-se-iek-tou-oaed" target="_blank" ><img src="img/gov_gr.webp"></a>
	
	</li>
    <li><p>Η διάρκεια φοίτησης είναι <u>5 εξάμηνα</u> και συγκεκριμένα:</p>
	   <p><b>4 εξάμηνα</b> θεωρητικής και εργαστηριακής κατάρτισης συνολικής διάρκειας έως 1.200 διδακτικές ώρες ειδικότητας, σύμφωνα με τα συγκεκριμένα προγράμματα σπουδών</p>
	   <p><b>1 εξάμηνο</b> Πρακτικής Άσκησης ή Μαθητείας, συνολικής διάρκειας 960 ωρών.</p>

</li>

<li>
	<p><b><u>Η Πρακτική Άσκηση-Μαθητεία στα ΙΕΚ είναι αμειβόμενη και πραγματοποιείται σύμφωνα με την υπ' αριθμ. 39883 ΚΥΑ (ΦΕΚ Α΄/2476/2023)</u></b></p>
	<ul class="uk-list uk-list-divider">

	<li>Οι καταρτιζόμενοι σε ΙΕΚ δικαιούνται να κάνουν Πρακτική Άσκηση μετά την ολοκλήρωση του Δ’ εξαμήνου σπουδών τους.</li>
<li>Η Πρακτική Άσκηση είναι συνολικής διάρκειας 960 ωρών (120 ημέρες Χ 8 ώρες/μέρα).</li>
<li>Η πρακτική άσκηση πρέπει να είναι συναφής με το αντικείμενο της ειδικότητας του καταρτιζόμενου.</li>
<li>Το ωράριο θα πρέπει να είναι 6 έως 8 ώρες την μέρα για 5 ημέρες την εβδομάδα. Η πρακτική πραγματοποιείται κατά το πρωινό ή απογευματινό ωράριο, ποτέ όμως νύχτα.</li>
<li>Οι ασκούμενοι δεν πρέπει να απασχολούνται την Κυριακή και τις επίσημες αργίες.</li>
<li>Οι ασκούμενοι καταρτιζόμενοι  δεν επιτρέπεται να απουσιάζουν συνολικά πάνω από 15 μέρες κατά την διάρκεια των έξι μηνών και σε αυτή την περίπτωση θα πρέπει να συμπληρωθούν οι απαιτούμενες ώρες Πρακτικής.</li>
<li>Η ασφαλιστική κάλυψη γίνεται από τη Δημόσια Υπηρεσία Απασχόλησης με ασφάλεια ΙΚΑ, καταβάλλοντας 1% επί του τεκμαρτού ημερομισθίου της δωδέκατης ασφαλιστικής κλάσης για ατυχήματα στο χώρο πραγματοποίησης της Πρακτικής Άσκησης.</li>
<li>Από την νομοθεσία προκύπτει ότι ο εργοδότης δεν είναι υπόχρεος οικονομικής επιβάρυνσης  κατά τη διάρκεια της πρακτικής άσκηση</li>
<li>Η Πρακτική Άσκηση καταρτιζομένων ΙΕΚ προσδιορίζεται από τον νόμο ν.4763 (ΦΕΚ 254/Α΄/2020)</li>
</ul>
	</li>



    <li>Τα ΙΕΚ της ΔΥΠΑ εξασφαλίζουν στους αποφοίτους τους (μετά από εξετάσεις πιστοποίησης αρχικής επαγγελματικής κατάρτισης)
<p>	<b><u>Δίπλωμα Επαγγελματικής Ειδικότητας Επιπέδου 5</u></b> </p>
	<p>Για πληροφορίες σχετικά με την πιστοποίηση μπορείτε να ενημερώνεστε από την ιστοσελίδα του <a href="https://www.eoppep.gr" target="_blank">ΕΟΠΠΕΠ</a></p></li>
	
</ul>

	
	</div>
	<hr class="uk-divider-icon">
</div>
