<div id="egg" class="uk-section">
<h1 class="uk-heading-line uk-text-center"><span>Δικαιολογητικά για την εγγραφή</span></h1>

    <div class="uk-container">
		<ul class="uk-list uk-list-bullet" >
    <li>Φωτοαντίγραφο του Τίτλου Σπουδών εγγραφής (Απολυτήριο Λυκείου, Πτυχίο ΤΕΕ Β ́Κύκλου)</li>
    <li>Φωτοαντίγραφο του Δελτίου Ταυτότητας ή Διαβατηρίου</li>
    <li>Βεβαίωση ΑΜΚΑ</li>
    <li>Τα αποδεικτικά όλων των υπολοίπων δηλωθέντων στοιχείων της αίτησης σας (κοινωνικά κριτήρια)</li>
    <li>Τους προσωπικούς σας κωδικούς πρόσβασης στο Taxisnet</li>
    <li>Το ΑΦΜ σας</li>
</ul>
<p class="uk-text-bold">και πατώντας στην παρακάτω εικόνα/σύνδεσμο του gov.gr</p><a href="https://www.gov.gr/ipiresies/ekpaideuse/eggraphe-se-skholeio/eggraphe-se-iek-tou-oaed" aria-label="Εγγραφή σε ΙΕΚ ΔΥΠΑ"><img src="img/gov_gr.webp" alt="Πύλη Gov"></a>

	</div>
</div>
