

<div id="eid" class="uk-section uk-section-primary uk-preserve-color">
    <div class="uk-container">

        <div class="uk-panel uk-light uk-margin-medium">
            <h1 class="uk-heading-line uk-text-center"><span>Ειδικότητες</span></h1>
        </div>

        <div class="uk-grid-match uk-child-width-expand@m" uk-grid>
            <div>
                <div class="uk-card uk-card-primary uk-card-body">
				<p class="uk-text-large"> Βοηθός Φυσικοθεραπείας </p>
                    <a class="uk-button uk-button-default" href="#modal-sections1" uk-toggle>Λεπτομερειες</a>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-primary uk-card-body">
				<p class="uk-text-large"> Ειδικός Αισθητικής και Τέχνης του Μακιγιάζ </p>
                    <a class="uk-button uk-button-default" href="#modal-sections2" uk-toggle>Λεπτομερειες</a>
                </div>
            </div>
			 <div>
                <div class="uk-card uk-card-primary uk-card-body">
				<p class="uk-text-large"> Τεχνικός Εφαρμογών Πληροφορικής (Πολυμέσα  Webdesigner - Developer  Videogames ) </p>
                    <a class="uk-button uk-button-default" href="#modal-sections3" uk-toggle>Λεπτομερειες</a>
                </div>
            </div>

        </div>

    </div>
</div>















<div class="uk-section uk-section-primary uk-preserve-color">
    <div class="uk-container">

        <div class="uk-grid-match uk-child-width-expand@m" uk-grid>
            <div>
                <div class="uk-card uk-card-primary uk-card-body">
				<p class="uk-text-large"> Στέλεχος Μηχανογραφημένου Λογιστηρίου – Φοροτεχνικού Γραφείου </p>
                    <a class="uk-button uk-button-default" href="#modal-sections4" uk-toggle>Λεπτομερειες</a>
                </div>
            </div>
            <div>
                <div class="uk-card uk-card-primary uk-card-body">
				<p class="uk-text-large"> Τεχνικός Φαρμάκων, Καλλυντικών και Παρεμφερών Προϊόντων </p>
                    <a class="uk-button uk-button-default" href="#modal-sections5" uk-toggle>Λεπτομερειες</a>
                </div>
            </div>
			 <div>
                <div class="uk-card uk-card-primary uk-card-body">
				<p class="uk-text-large"> Βοηθός Βρεφονηπιοκόμων </p>
                    <a class="uk-button uk-button-default" href="#modal-sections6" uk-toggle>Λεπτομερειες</a>
                </div>
            </div>

        </div>

    </div>
</div>











<div id="modal-sections6" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Πληροφορίες Ειδικότητας</h2>
        </div>
        <div class="uk-modal-body">
     <u><p>Επαγγελματικό περίγραμμα ειδικότητας</p></u>
Ο κάτοχος διπλώματος ΙΕΚ στην ειδικότητα «Βοηθός Βρεφονηπιοκόμων» έχει πιστοποιήσει τις επαγγελματικές
γνώσεις και δεξιότητες που τον καθιστούν ικανό να εργαστεί σε κέντρα προσχολικής αγωγής (βρεφονηπιακούς σταθμούς) καθώς και σε εξαρτημένες ή µη εργασίες σε Βρεφονηπιακούς Σταθµούς ή σε κέντρα ειδικής αγωγής που
φιλοξενούν βρέφη και νήπια ηλικίας 0-6 χρόνων, ιδιωτικούς ή του δηµοσίου φορέα, σε συνεργασία με τον/την
υπεύθυνο/η βρεφονηπιοκόμο ή νηπιαγωγό ή ειδικό παιδαγωγό.
<br>
<br>
<u><p>Τομείς απασχόλησης</p></u>
<ul>
<li>Δημόσιους και ιδιωτικούς παιδικούς σταθμούς </li>
<li> Νηπιαγωγεία </li>
<li> Ιδρύματα που έχουν σχέση με τη φροντίδα και διαπαιδαγώγηση παιδιών μέχρι 6 ετών </li>
<li> Παιδικές στέγες που ελέγχονται από το Υπουργείο Εργασίας, Πρόνοιας και Κοινωνικών Ασφαλίσεων </li>
<li> Βρεφονηπιακούς σταθμούς Δήμων, Κοινοτήτων, Υπουργείων, Οργανισμών, Εταιριών, κ.λ.π. </li>
<li> Κέντρα Δημιουργικής Απασχόλησης Παιδιών </li>
<li> Παιδότοπους </li>
<li> Κατασκηνώσεις </li>
<li> Κέντρα Οικογενειακού Προγραμματισμού  </li>
</ul>

<u><p>Επαγγελματικά προσόντα</p></u>
<ul>
<li>Βοηθά στην ολόπλευρη ανάπτυξη (σωματική, νοητική, ψυχοκινητική, συναισθηματική και κοινωνική) του
	παιδιού της προσχολικής ηλικίας, εφαρμόζοντας κατάλληλες παιδαγωγικές μεθόδους.
<li> Παρέχει φροντίδα στο παιδί από τη βρεφική μέχρι την νηπιακή του ηλικία σε θέματα ατομικής υγιεινής.
<li> Φροντίζει για την αγωγή παιδιών με ιδιαιτερότητες.
<li> Εφαρμόζει μέτρα πρόληψης ατυχημάτων σε οποιοδήποτε χώρο φιλοξενίας του παιδιού.
<li> Παρέχει πρώτες βοήθειες και ενεργεί κατάλληλα σε επείγουσες καταστάσεις.
<li> Απασχολεί δημιουργικά τα βρέφη και τα νήπια και ενθαρρύνει τη συμμετοχή τους στις διάφορες
δραστηριότητες.
 Παρέχει πληροφορίες στους γονείς για θέματα διαβίωσης που αφορούν το παιδί, κατόπιν συνεννόησης με τον
υπεύθυνο/η.
</ul> 

<u><p>Επαγγελματικά καθήκοντα</p></u>
<ul>
<li>Βοηθάει τον/την Βρεφονηπιοκόμο στην απασχόληση των νηπίων και των βρεφών. </li>
<li>Επιβλέπει την σωματική καθαριότητα των νηπίων και των βρεφών </li>
<li>Αναπληρώνει τον/την Βρεφονηπιοκόμο. </li>

</ul>
			
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Κλεισιμο</button>
			<a class="uk-button uk-button-primary" href="https://www.dypa.gov.gr/storage/katartisi/iek/odighi-spoydwn-2022-2023/2-bohthos-brefonhpiokomon.pdf" target="_blank">Προβολη Οδηγου Σπουδων</a>

   
        </div>
    </div>
</div>
































<div id="modal-sections5" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Πληροφορίες Ειδικότητας</h2>
        </div>
        <div class="uk-modal-body">
        <u><p>Επαγγελματικό περίγραμμα ειδικότητας</p></u>
		  O απόφοιτος της ειδικότητας «Τεχνικός Φαρμάκων, Καλλυντικών και Παρεμφερών Προϊόντων» των ΙΕΚ, είναι ο
εξειδικευμένος τεχνικός που έχει πλούσιες θεωρητικές γνώσεις και πλήρη κατάρτιση για πρακτικές εφαρμογές
στην εργαστηριακή και βιομηχανική παραγωγική διαδικασία των προϊόντων του κλάδου. Οι γνώσεις του για τη
σύνθεση και τη δράση των φαρμάκων και καλλυντικών του παρέχουν τα κατάλληλα εφόδια και τον βοηθούν στις
απαιτήσεις του ποιοτικού ελέγχου της γνησιότητας των πρώτων υλών που πραγματοποιεί και των προϊόντων που
παράγει
<p><u>  Τομείς απασχόλησης  </u></p>

Ο απόφοιτος της ειδικότητας «Τεχνικός Φαρμάκων, Καλλυντικών και Παρεμφερών Προϊόντων» των ΙΕΚ μπορεί να
εργαστεί σε: <br>
<br>
<ul>
<li>Σε φαρμακευτικές βιομηχανίες και βιοτεχνίες καλλυντικών</li>
<li> Σε εργαστήρια καλλυντικών ή φαρμακευτικών προϊόντων</li>
<li> Σε χημικά εργαστήρια</li>
<li> Σε φαρμακεία εκτέλεσης συνταγολογίου</li>
<li> Σε Νοσοκομεία, Νοσηλευτικά Ιδρύματα</li>
<li> Στον Εθνικό Οργανισμό Φαρμάκων</li>
<li> Σε εταιρείες εμπορίας καλλυντικών και παραφαρμακευτικών υλικών</li>
<li> Σε Ιδιωτικές Κλινικές</li>
<li> Ως ελεύθερος επαγγελματίας</li>

</ul>

<p><u>  Επαγγελματικά προσόντα  </u></p>
Τα ειδικά επαγγελματικά προσόντα του αποφοίτου της ειδικότητας συνίστανται στα ακόλουθα:
<br>
<br>
<ul>
<li>χειρίζεται εξοπλισμό χημικού εργαστηρίου σύγχρονης τεχνολογίας </li>
<li> ακολουθεί συγκεκριμένες διαδικασίες για την παραγωγή φαρμάκων και καλλυντικών </li>
<li> ακολουθεί συγκεκριμένες διαδικασίες για την αξιολόγηση φαρμάκων και καλλυντικών </li>
<li> αποθηκεύει καταλλήλως φαρμακευτικά και καλλυντικά προϊόντα </li>
<li> τακτοποιεί και ταξινομεί χημικά αντιδραστήρια και παρασκευάσματα </li>
<li> διενεργεί απογραφή αποθήκης </li>
<li> συνδιαλέγεται για λογαριασμό της επιχείρησης (φαρμακείο) </li>
<li> χρησιμοποιεί τις ανθρώπινες σχέσεις και την επικοινωνία </li>
<li> εφαρμόζει πρακτικές marketing φαρμάκων και καλλυντικών </li>


</ul>
<p><u>  Επαγγελματικά καθήκοντα  </u></p>
Τα επαγγελματικά καθήκοντα του διπλωματούχου της ειδικότητας είναι τα ακόλουθα:
<br>
<br>

<ul>
Φροντίζει για την τήρηση της ασφάλειας και υγιεινής του χώρου εργασίας</li>
<li>Συντηρεί τον εξοπλισμό που χρησιμοποιεί στο παρασκευαστικό στάδιο</li>
<li> Εκτελεί πιστά τις οδηγίες – συνταγολόγια για την παρασκευή φαρμακευτικών και καλλυντικών προϊόντων</li>
<li> Παρασκευάζει και έχει την ευθύνη της εκτέλεσης των διαδικασιών και συνθηκών για την παραγωγή ποιοτικά σωστού προϊόντος</li>
<li> Ελέγχει ποιοτικά και ποσοτικά τη σύσταση των πρώτων υλών και των προϊόντων (φυσικοχημικές σταθερές,ταυτοποιήσεις, μετρήσεις κλπ.)</li>
<li> Συσκευάζει, αποθηκεύει, φυλάσσει τις πρώτες ύλες και τα προϊόντα σε κατάλληλες αποθήκες και χώρους</li>
<li> Εξασφαλίζει την εφαρμογή των θεσμοθετημένων κανονισμών και προδιαγραφών για την ακριβή σύσταση του προϊόντος και των δραστηριοτήτων (μεταβολές και αλλοιώσεις)</li>
<li> Καταγράφει τα είδη των συστατικών και τις αναλογίες τους στις συνθέσεις των φαρμάκων και καλλυντικών και δίνει γραπτή αναφορά σχετικά με τα αποτελέσματα των παρατηρήσεων στον υπεύθυνο φαρμακοποιό ή χημικό</li>
<li> Κοστολογεί, επιλέγει και αξιολογεί προσφορές ή προμήθεια αναλωσίμων και μη-αναλωσίμων υλικών.</li>
<li> Προωθεί την πώληση καλλυντικών και προϊόντων ( ΜΗ.ΣΥ.ΦΑ. ή και συμπληρωμάτων διατροφής).</li>

</ul>
			
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Κλεισιμο</button>
			<a class="uk-button uk-button-primary" href="https://www.dypa.gov.gr/storage/katartisi/iek/odighi-spoydwn-2022-2023/43-texnikos-farmakon-kallyntikon-kai-paremferon-proionton.pdf" target="_blank">Προβολη Οδηγου Σπουδων</a>

   
        </div>
    </div>
</div>
























<div id="modal-sections4" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Πληροφορίες Ειδικότητας</h2>
        </div>
        <div class="uk-modal-body">
           <p><u>  Επαγγελματικό περίγραμμα ειδικότητας  </u></p>
		 O απόφοιτος της ειδικότητας «Στέλεχος Μηχανογραφημένου Λογιστηρίου – Φοροτεχνικού Γραφείου»
των ΙΕΚ με τις εξειδικευμένες γνώσεις και δεξιότητες που έχει αποκτήσει κατά την εκπαίδευσή του,
εφαρμόζει τη Λογιστική Επιστήμη με τη χρήση Η/Υ και λογιστικών προγραμμάτων - εφαρμογών
(λογισμικών) και ασχολείται με τη διεκπεραίωση κάθε τεχνικής ή άλλης διαδικασίας που αναφέρεται
στην εφαρμογή της φορολογικής ασφαλιστικής και εργατικής νομοθεσίας.

<br>
<br>
<p><u>  Τομείς απασχόλησης</u></p>
Το Στέλεχος Μηχανογραφημένου Λογιστηρίου – Φοροτεχνικού Γραφείου μπορεί να εργαστεί σε
εξαρτημένη εργασία Μικρομεσαίας / Μεγάλης μεταποιητικής / Βιομηχανικής / Βιοτεχνικής μονάδας ή
κατασκευαστικής / παροχής υπηρεσιών / Εμπορικής κ.τ.λ. επιχείρησης του Ιδιωτικού ή του Δημόσιου
τομέα. Επιπλέον μπορεί να εργαστεί ως ελεύθερος επαγγελματίας, με κατοχυρωμένη άδεια εξάσκησης
επαγγέλματος. Ειδικότερα το Στέλεχος Μηχανογραφημένου Λογιστηρίου – Φοροτεχνικού Γραφείου μπορεί
να εργαστεί:

<br>
<br>
<ul>

<li>σε τμήματα οικονομικών υπηρεσιών και προμηθειών Δήμων, ΟΤΑ και Υπουργείων</li>
<li> σε τμήματα οικονομικών υπηρεσιών και προμηθειών ΔΕΚΟ</li>
<li> σε τράπεζες και χρηματοπιστωτικούς φορείς</li>
<li> σε λογιστήρια & οικονομικά τμήματα εμπορικών και βιομηχανικών επιχειρήσεων, καθώς και
επιχειρήσεων παροχής υπηρεσιών</li>
<li> σε λογιστικά και φοροτεχνικά γραφεία.</li>
	
	
	
	


</ul>




<p><u>  Επαγγελματικά προσόντα </u></p>

Τα ειδικά επαγγελματικά προσόντα του αποφοίτου της ειδικότητας συνίστανται στα ακόλουθα:

<br>
<br>

<ul> 
<li>χειρίζεται εξοπλισμό γραφείου σύγχρονης τεχνολογίας</li>
<li> ταξινομεί και αρχειοθετεί λογιστικά έγγραφα</li>
<li> σχεδιάζει και ελέγχει τις διαδικασίες έκδοσης στοιχείων όπως τιμολογίων, δελτίων αποστολής,
φορτωτικών κ.λ.π. εγγράφων</li>
<li> εφαρμόζει τη φορολογική, εργατική, εμπορική νομοθεσία ως και τη νομοθεσία της κοινωνικής
ασφάλισης, καθώς και τα Ελληνικά Λογιστικά Πρότυπα</li>
<li> διενεργεί απογραφή περιουσιακών στοιχείων</li>
<li> συμμετέχει σε έρευνες, εφαρμόζει λογιστικές και φορολογικές αρχές και υποβάλλει προτάσεις για την
αποδοτική χρησιμοποίηση των χρηματικών πόρων και την επίλυση οικονομικών ή διοικητικών
προβλημάτων</li>
<li> συναλλάσσεται με δημόσιους οργανισμούς και συνδιαλέγεται για λογαριασμό της επιχείρησης.</li>

</ul>
<br>
<br>
<p><u>   Επαγγελματικά καθήκοντα </u></p>

Τα επαγγελματικά καθήκοντα του αποφοίτου της ειδικότητας είναι τα ακόλουθα: 


<br>
<br>
<ul>
<li> Υποστηρίζει ή/και διαχειρίζεται τις ισχύουσες διατάξεις των Ε.Λ.Π.</li>
<li> Υποστηρίζει ή/και διαχειρίζεται τις ισχύουσες διατάξεις της φορολογίας, εισοδήματος φυσικών και
νομικών προσώπων</li>
<li> Υποστηρίζει ή/και διαχειρίζεται τις ισχύουσες διατάξεις της εργατικής νομοθεσίας καθώς και την
νομοθεσία της κοινωνικής ασφάλισης.</li>
<li> Υποστηρίζει ή/και διαχειρίζεται τη χρηματοοικονομική διοίκηση και οργάνωση του Οργανισμού
/επιχείρησης</li>
<li> Υποστηρίζει ή/και διαχειρίζεται τη συγκέντρωση, τον έλεγχο, την κωδικοποίηση και έκδοση των
παραστατικών του λογιστηρίου</li>
<li> Υποστηρίζει ή/και διαχειρίζεται την εκτύπωση των βιβλίων και κάθε οικονομική κατάσταση που αφορά
την οικονομική κίνηση ενός οργανισμού /επιχείρησης</li>

</ul>
			
			
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Κλεισιμο</button>
			<a class="uk-button uk-button-primary" href="https://dypa.gov.gr/storage/katartisi/iek/odighi-spoydwn-2022-2023/23-stelexos-mhxanografhmenu-logisthriu-forotexniku-grafiu.pdf" target="_blank">Προβολη Οδηγου Σπουδων</a>

   
        </div>
    </div>
</div>




<div id="modal-sections3" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Πληροφορίες Ειδικότητας</h2>
        </div>
        <div class="uk-modal-body">
           <p><u>   Επαγγελματικό περίγραμμα ειδικότητας </u></p>
		  
		  H αξιοποίηση της τεχνολογίας και πιο συγκεκριμένα αυτής που έχει σχέση με τις διαδραστικές
εφαρμογές και τις τεχνολογίες διαδικτύου προσφέρει πολλές ευκαιρίες αποκατάστασης των
διπλωματούχων, οι οποίοι μπορούν να εργαστούν στο δημόσιο ή στον ιδιωτικό τομέα στα εξής
αντικείμενα:

<br>
<br>
<ul>

<li>Εγκατάσταση, ρύθμιση, έλεγχο, χρήση εφαρμογών λογισμικού Η/Υ & δικτύων. </li>
<li>Συντήρηση υπολογιστικών συστημάτων και δικτύων.</li>
<li> Πώληση προϊόντων συνδεδεμένων με την πληροφορική τεχνολογιών.</li>
<li> Αξιολόγηση σε επίπεδο εφαρμογής - υλοποίησης - συντήρησης εφαρμογών λογισμικού προσανατολισμένου στις ψυχαγωγικές εφαρμογές.</li>


</ul>
		  
<p><u>   Τομείς απασχόλησης </u></p>		  
		  Ο απόφοιτος της ειδικότητας «Τεχνικός Εφαρμογών Πληροφορικής (Πολυμέσα/ Web designer -
Developer/ VideoGames)» μπορεί να εργαστεί σε:
<br>
<br>
<ul>
<li>Επιχειρήσεις κατασκευής ή υποστήριξης προϊόντων Πληροφορικής.</li>
<li> Επιχειρήσεις προώθησης προϊόντων ηλεκτρονικού εμπορίου και υπηρεσιών Πληροφορικής.</li>
<li> Εταιρείες κινητής τηλεφωνίας.</li>
<li> Εταιρείες παραγωγής τηλεπικοινωνιακού υλικού και λογισμικού.</li>
<li> Εταιρείες παροχής υπηρεσιών Διαδικτύου και ψυχαγωγικών εφαρμογών.</li>
<li> Επιχειρήσεις που χρησιμοποιούν το Διαδίκτυο για εμπορικούς σκοπούς.</li>
<li> Μηχανογραφικά κέντρα.</li>
<li> Τμήματα πληροφορικής των Εμπορικών επιχειρήσεων.</li>
<li> Τμήματα πληροφορικής Οργανισμών.</li>
<li> Τμήματα πληροφορικής των δομών του Δημοσίου τομέα.</li>
</ul>  

<p><u> Επαγγελματικά προσόντα   </u></p>

Ο απόφοιτος της εν λόγω ειδικότητας πρέπει να διαθέτει τα προσόντα ώστε:
<ul>


<li> Να χρησιμοποιεί κατάλληλα και να αναγνωρίζει την αρχιτεκτονική του διαδικτύου.</li>
<li> Να χρησιμοποιεί και να αναγνωρίζει τα πρωτόκολλα του διαδικτύου.</li>
<li> Να χρησιμοποιεί τις υπηρεσίες του διαδικτύου με τη χρήση αντίστοιχου λογισμικού.</li>
<li> Να διαμορφώνει κατάλληλα το λογισμικό αξιοποίησης των αντίστοιχων πρωτοκόλλων του
 διαδικτύου.</li>
<li> Να χρησιμοποιεί και να γνωρίζει το ηλεκτρονικό ταχυδρομείο.</li>
<li> Να αναγνωρίζει τις γλώσσες σήμανσης και προγραμματισμού διαδικτυακών εφαρμογών και να
 κατανοεί τη χρήση τους.</li>
<li> Να χρησιμοποιεί τις web εφαρμογές και να αντιλαμβάνεται τον τρόπο λειτουργίας αυτών.
<li> Να δημιουργεί και να διαχειρίζεται blog.</li>
<li> Να αξιολογεί προσφερόμενες υπηρεσίες φιλοξενίας.</li>
<li> Να χρησιμοποιεί υπηρεσίες hosting.</li>
<li> Να χρησιμοποιεί δημοφιλή εργαλεία διάθεσης περιεχομένου (πχ FileZilla).</li>
<li> Να εγκαθιστά και να χρησιμοποιεί τουλάχιστον ένα πακέτο ανοιχτού λογισμικού για την ανάπτυξη
 διαδικτυακών τόπων. (πχ Joomla ή Wordpress).</li>
<li> Να χρησιμοποιεί τις διαδικασίες δημιουργίας ιστοσελίδων με τη χρήση της HTML και με το
 αντίστοιχο περιβάλλον ανάπτυξης ιστοσελίδων.</li>
<li> Να χρησιμοποιεί τις εξειδικευμένες υπηρεσίες και εργαλεία των τεχνολογιών που αφορούν
 Dynamic HTML - JavaScript – CSS.</li>
<li> Να χρησιμοποιεί λογισμικό και υλικό για την ψηφιοποίηση και επεξεργασία βίντεο και ήχου.</li>




</ul>
<p><u>  Επαγγελματικά καθήκοντα  </u></p>
Τα κύρια επαγγελματικά καθήκοντα συνοψίζονται στα ακόλουθα:
<ul>
<li>Σχεδίαση, ανάπτυξη, υποστήριξη λειτουργίας και συντήρηση λογισμικού εφαρμογών (application
software) τεχνολογίας internet και τηλεματικής π.χ. δημιουργία ιστοχώρων (website), ιστοσελίδων,
δημιουργία εφαρμογών πολυμεσικού περιεχομένου, τηλεκπαίδευσης - τηλεϊατρικής, επεξεργασία
στοιχείων βάσεων δεδομένων και παρουσίαση στοιχείων στο internet.</li>
<li> Σχεδίαση και σύνδεση βάσης δεδομένων με το περιβάλλον προγραμματισμού και τις διαδικτυακές
εφαρμογές.</li>
<li> Χρήση Πληροφοριακών Συστημάτων (ΠΣ) και ανεξάρτητων Η/Υ.</li>
<li> Πώληση προϊόντων και υπηρεσιών τεχνολογίας πληροφορικής (hardware, software, ψηφιακά
προϊόντα).</li>
<li> Διαχείριση συστήματος (systemadmin) ή βάσεων δεδομένων (DBA) ή ασφάλειας (SecAdmin)
website.</li>
<li> Διαχείριση ΠΣ παροχής υπηρεσιών internet.</li>
<li> Διαχείριση και υποστήριξη λειτουργίας ΠΣ ηλεκτρονικού εμπορίου, ηλεκτρονικών προμηθειών,
ηλεκτρονικών δημοπρασιών και γενικώς e-υπηρεσιών.</li>
</ul>
			
			
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Κλεισιμο</button>
			<a class="uk-button uk-button-primary" href="https://www.dypa.gov.gr/storage/katartisi/iek/odighi-spoydwn-2022-2023/36-efarmogon-plhroforikhs-polymesa-web-designer-developer-video-games.pdf" target="_blank">Προβολη Οδηγου Σπουδων</a>

   
        </div>
    </div>
</div>


























<div id="modal-sections2" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Πληροφορίες Ειδικότητας</h2>
        </div>
        <div class="uk-modal-body">
          <p><u>  Επαγγελματικό περίγραμμα ειδικότητας:  </u></p>
		  Ο απόφοιτος της ειδικότητας «Τεχνικός Αισθητικής τέχνης και Μακιγιάζ» των ΙΕΚ παρέχει υπηρεσίες
αισθητικής φροντίδας για το πρόσωπο ή/και το σώμα με φυσικά και τεχνητά μέσα, υπηρεσίες
χαλάρωσης και ευεξίας, υπηρεσίες μακιγιάζ προσώπου και σώματος, υπηρεσίες περιποίησης,
αποκατάστασης και καλλωπισμού νυχιών με φυσικά και τεχνητά μέσα και προωθεί καλλυντικά προϊόντα
και μηχανήματα καθώς και υπηρεσίες αισθητικής . 
		  
		  <p><u>  Τομείς απασχόλησης   </u></p>
		 
		  Ο κάτοχος του διπλώματος της ειδικότητας «Τεχνικός Αισθητικής τέχνης και Μακιγιάζ» έχει τη δυνατότητα
να απασχοληθεί στους εξής τομείς:
<br>
<br>
A) Υπηρεσιών υγείας/ομορφιάς και ευεξίας
<ul> 
<li> Πολυδύναμα κέντρα Αισθητικής και Αδυνατίσματος</li>
<li> Στούντιο και Μακιγιάζ</li>
</ul>
Οι υπηρεσίες αφορούν κυρίως αισθητική, αδυνάτισμα, αποτρίχωση και σχεδιασμό – προτάσεις αισθητικών
περιποιήσεων.
<br>
<br>


Β )Καλλυντικά
<ul>
<li> Βιομηχανίες καλλυντικών</li>
<li> Αντιπροσωπείες καλλυντικών</li>
</ul>
Ο απόφοιτος της ειδικότητας απασχολείται σε αντιπροσωπείες καλλυντικών ,που προωθούν καλλυντικά
προϊόντα σε επαγγελματίες υπηρεσιών, σε αντιπροσωπείες καλλυντικών που προωθούν καλλυντικά
προϊόντα μέσω του λιανεμπορίου και στα φαρμακεία.

<br>
<br>
Γ) Τουριστικό SPA
<ul>
<li>Κέντρα Υδροθεραπείας, που λειτουργούν υπό την αιγίδα του ΕΟΤ</li>
<li>Κέντρα θαλασσοθεραπείας, που λειτουργούν σε οργανωμένες ξενοδοχειακές εγκαταστάσεις</li>
<li>Αστικά κέντρα με διάφορες επωνυμίες (city spa,daily spa κλπ)</li>
</ul>
Δ) Υγεία
<ul>
<li>Ιατρικά κέντρα</li>
<li>Ιδιωτικές κλινικές</li>
<li>Ευαγή ιδρύματα</li>
</ul>
Οι διάφορες υπηρεσίες που παρέχονται εδώ, βασίζονται αποκλειστικά στη χρήση καλλυντικών προϊόντων,
κυρίως για αποτρίχωση, πανάδες και άλλες αισθητικές πράξεις.
Ο απόφοιτος της ειδικότητας μπορεί επίσης να απασχοληθεί σε ινστιτούτα αισθητικής, κέντρα
αδυνατίσματος, φαρμακεία, κομμωτήρια, ξενοδοχεία ,διαφημιστικές εταιρείες, καταστήματα καλλυντικών,
στο θέατρο ,στον κινηματογράφο, στην τηλεόραση, στη φωτογραφία και στους οίκους μόδας


<p><u>  Επαγγελματικά προσόντα  </u></p>
Τα επαγγελματικά προσόντα που αποκτά ο απόφοιτος της ειδικότητας συνίστανται στα ακόλουθα:
<br>
<br>
<p><u>   Παροχή υπηρεσιών αισθητικής φροντίδας για το πρόσωπο ή /και το σώμα με φυσικά και τεχνητά μέσα. </u></p> 
<ul>
<li>Μεριμνά για την εφαρμογή περιποιήσεων αισθητικής προσώπου ή/και σώματος με τη χρήση ειδικών εργαλείων και υλικών.</li>
<li>Εφαρμόζει αγωγές ευεξίας και χαλάρωσης.</li>
<li>Φροντίζει για την εφαρμογή αγωγών προσωρινής αποτρίχωσης προσώπου ή/και σώματος.</li>
<li>Παρέχει συμβουλές στους πελάτες για την επιλογή των υπηρεσιών αισθητικής και καλλυντικών προϊόντων για το πρόσωπο ή/και το σώμα.</li>

 </ul>
 
<p><u>   Παροχή υπηρεσιών μακιγιάζ προσώπου και σώματος.</u></p>

<ul> 
<li>Προσφέρει υπηρεσίες αισθητικού μακιγιάζ.</li>
<li>Μεριμνά για την παροχή υπηρεσιών επαγγελματικού μακιγιάζ.</li>
<li>Φροντίζει για την εξυπηρέτηση πελατών στην επιλογή προϊόντων μακιγιάζ.</li>

</ul>
<p><u>   Παροχή υπηρεσιών περιποίησης, αποκατάστασης και καλλωπισμού νυχιών με φυσικά και τεχνητά μέσα. </u></p>
<ul> 
<li>Μεριμνά για την περιποίηση και θεραπεία νυχιών άνω και κάτω άκρων (μανικιούρ,πεντικιούρ).</li>
<li>Φροντίζει για την τεχνητή αποκατάσταση νυχιών άνω και κάτω άκρων.</li>
<li>Εξυπηρετεί πελάτες στην επιλογή προϊόντων φροντίδας και καλλωπισμού νυχιών.</li>

</ul>






		  
		  <p><u> Επαγγελματικά καθήκοντα </u></p>
		  <p><u>   Τα επαγγελματικά καθήκοντα του αποφοίτου της ειδικότητας συνίστανται στα ακόλουθα: </u></p>
		  <ul>
<li>Υποδέχεται τον πελάτη</li>
- Ιστορικό πελάτη<br>
- Προετοιμασία πελάτη<br>
<li>Εφαρμόζει αισθητικές πράξεις</li>
- Αισθητικές φροντίδες για κάθε τύπο δέρματος με χρήση καλλυντικών προϊόντων<br>
- Απλός καθαρισμός -Αναγνώριση τύπου δέρματος<br>
- Peeling<br>

- Εξαγωγή σμήγματος (Βαθύς καθαρισμός)<br>
- Ηρεμιστική μάλαξη προσώπου – σώματος<br>
- Τοποθέτηση - αφαίρεση μασκών<br>
- Αποτρίχωση με ζεστό – κρύο κερί<br>
- Μακιγιάζ<br>
- Αισθητική κάτω άκρων (μανικιούρ-πεντικιούρ-ονυχοπροσθετική)<br>
- Tatoo με χένα<br>
<li>Αποστειρώνει τα εργαλεία και τις συσκευές που χρησιμοποιεί.</li>
<li>Φροντίζει για τη διαθεσιμότητα των προϊόντων στην καμπίνα παροχής υπηρεσιών</li>
<li>Ελέγχει τη σωστή λειτουργία των μηχανημάτων στο πεδίο της ειδικότητάς του</li>
<li>Παρέχει εξειδικευμένες συμβουλές για την περιποίηση του δέρματος και τον καλλωπισμό των νυχιών</li>
<li>Υποστηρίζει τη διοικητική λειτουργία του εργασιακού του χώρου.</li>
- Δημιουργία και ενημέρωση κάρτας πελάτη<br>
- Διατήρηση αρχείου πελατών<br>
- Διατήρηση αρχείου αισθητικών πράξεων<br>
- Διακίνηση αναλώσιμων υλικών και καλλυντικών και παρακολούθηση αποθήκης<br>
- Έρευνα αγοράς καλλυντικών και αναλωσίμων<br>
- Έρευνα αγοράς συσκευών<br>
- Κοστολόγηση προϊόντων<br>
- Διαφημιστική προβολή εργαστηρίου<br>
<li>Προωθεί προϊόντα και υπηρεσίες αισθητικής ανάλογα με τις ανάγκες του πελάτη</li>
<li>Ακολουθεί και εφαρμόζει τους κανόνες υγιεινής και ασφάλειας στο χώρο εργασίας του</li>
<li>Παρέχει πρώτες βοήθειες, αν χρειαστεί</li>
<li>Ενεργεί με βάση τους κανόνες της επαγγελματικής δεοντολογίας</li>
<li>Επικοινωνεί αποτελεσματικά με τους πελάτες, συνεργάτες και προμηθευτές.</li>
<li>Επιλύει αποτελεσματικά τα προβλήματα που προκύπτουν στο χώρο εργασίας</li>
<li> Λειτουργεί σύμφωνα με τη φιλοσοφία και την πολιτική της επιχείρησης</li>

		 </ul> 
			
			
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Κλεισιμο</button>
			<a class="uk-button uk-button-primary" href="https://www.dypa.gov.gr/storage/katartisi/iek/odighi-spoydwn-2022-2023/12-texnikos-aisthhtikhs-texnhs-kai-makigiaz.pdf" target="_blank">Προβολη Οδηγου Σπουδων</a>

   
        </div>
    </div>
</div>







<div id="modal-sections1" uk-modal>
    <div class="uk-modal-dialog">
        <button class="uk-modal-close-default" type="button" uk-close></button>
        <div class="uk-modal-header">
            <h2 class="uk-modal-title">Πληροφορίες Ειδικότητας</h2>
        </div>
        <div class="uk-modal-body">
            
			
			 <p><u> Επαγγελματικό περίγραμμα ειδικότητας   </u></p>
		  
		  Οι κάτοχοι διπλώματος Ι.Ε.Κ. στην ειδικότητα «Βοηθός Φυσικοθεραπείας» έχουν πιστοποιήσει τις
απαραίτητες επαγγελματικές γνώσεις, δεξιότητες και ικανότητες με τις οποίες είναι πλήρως καταρτισμένοι για
να ανταποκριθούν στα καθήκοντα τους, τα οποία περιλαμβάνουν την προετοιμασία και τη γραμματειακή
υποστήριξη του εργαστηρίου φυσικοθεραπείας, την υποδοχή, την προετοιμασία ασθενών και την υποβοήθηση
του φυσικοθεραπευτή στην εφαρμογή φυσικοθεραπευτικών μεθόδων.

		  
		  <p><u>  Τομείς απασχόλησης</u></p>

Οι απόφοιτοι της ειδικότητας «Βοηθός Φυσικοθεραπείας» μπορούν να εργαστούν ως παραγωγικά στελέχη σε :
<ul>

<li> Εργαστήρια Φυσικοθεραπείας</li>
<li> Ιδρύματα και Κέντρα Αποθεραπείας και Αποκατάστασης ΑΜΕΑ (κινητικές αναπηρίες)</li>
<li> Κ.Α.Π.Η.</li>
<li> Χώροι θεραπευτικών λουτροπηγών</li>
<li>Ειδικά Κέντρα Αποκατάστασης</li>
<li> Νοσοκομεία, Κλινικές, Θεραπευτήρια</li>
<li> Αθλητικά Κέντρα και Χώρους Αθλήσεως</li>
</ul>		
<u>
Στους ανωτέρω τομείς απασχόλησης απαιτείται η νόμιμη άδεια λειτουργίας εργαστηρίου
φυσικοθεραπείας και η παρουσία – επίβλεψη πτυχιούχου φυσικοθεραπευτή.</u>


		  
		  <p><u>   Επαγγελματικά προσόντα </u></p>
		  
		  Τα επαγγελματικά προσόντα συνοψίζονται στα παρακάτω:
<ul>

<li> Ενημέρωση γύρω από τις υπάρχουσες και νεότερες γνώσεις της επιστήμης της φυσικοθεραπείας </li>
<li> Εξοικείωση με τις διαπροσωπικές σχέσεις</li>
<li> Γραμματειακή υποστήριξη και γνώση ηλεκτρονικών υπολογιστών</li>
<li> Πρακτική εφαρμογή των θεωρητικών γνώσεων που απέκτησε κατά τη θεωρητική του/της κατάρτιση.</li>

</ul>
		  
		  
		  <p><u>   Επαγγελματικά καθήκοντα </u></p>
		  
 Α. Για την υποδοχή, την προετοιμασία ασθενών:
 <ul>
<li>Υποδέχεται τον ασθενή και τον τοποθετεί στον χώρο θεραπείας.</li>
<li>Προετοιμάζει (ελέγχει αδρά) τη γενική κατάσταση της υγείας του ασθενούς, για παράδειγμα πίεση,
σφύξεις, πριν την έναρξη της φυσικοθεραπείας.</li>
<li>Τοποθετεί ή / και μεταφέρει τον ασθενή στην κατάλληλη θέση.</li>
<li>Προσφέρει ηθική και ψυχολογική στήριξη σε ασθενείς.</li>
<li>Μεριμνά για τη σωστή, λειτουργική και αναπαυτική θέση του ασθενή στο χώρο θεραπείας.</li>
<li>Μεριμνά για την ασφάλεια του ασθενή κατά την παραμονή του στο χώρο του εργαστηρίου 
φυσικοθεραπείας.</li>
</ul>
Β. Για την υποβοήθηση του φυσικοθεραπευτή στην εφαρμογή φυσικοθεραπευτικών μεθόδων :
<ul>
<li>Ενημερώνει τον φυσικοθεραπευτή για το ιστορικό-κάρτα ασθενούς</li>
<li>Υποβοηθά τον φυσικοθεραπευτή στην εκτέλεση κινήσεων και ασκήσεων</li>
<li>Υποβοηθά τον φυσικοθεραπευτή στα φυσικά μέσα και την ηλεκτροθεραπεία</li>
<li>Υποβοηθά τον φυσικοθεραπευτή στην αντιμετώπιση των μυοσκελετικών κακώσεων</li>
<li>Υποβοηθά τον φυσικοθεραπευτή σε προγράμματα αποκατάστασης αναπνευστικών, ρευματικών και
νευρολογικών παθήσεων.</li>
<li>Υποβοηθά τον φυσικοθεραπευτή σε προγράμματα ομαδικών και ατομικών δραστηριοτήτων ατόμων τρίτης
ηλικίας.</li>
<li>Υποβοηθά τον φυσικοθεραπευτή στην επίτευξη των φυσικοθεραπευτικών του στόχων σε Α.μ.Ε.Α.</li>
<li>Βοηθά στην μετακίνηση και μεταφορά βαρέως πασχόντων (πολυκαταγματιών, ημιπληγικών, παραπληγικών,
τετραπληγικών) και μετεγχειρητικών ασθενών.</li>
</ul>
Γ. Για την προετοιμασία του εργαστηρίου φυσικοθεραπείας:
<ul>
<li>Εξασφαλίζει τους όρους υγιεινής και ασφάλειας του χώρου.</li>
<li>Προετοιμάζει τα υλικά και ελέγχει τη λειτουργία των φυσικοθεραπευτικών μηχανημάτων.</li>
<li>Εξασφαλίζει τους όρους ατομικής προστασίας των προσώπων που κινούνται στο χώρο του εργαστηρίου
φυσικοθεραπείας.</li>
<li>Ελέγχει τη διακίνηση αναλώσιμων υλικών.</li>
<li>Μεριμνά για την καθαριότητα και απολύμανση των χώρων θεραπείας του εργαστηρίου φυσικοθεραπείας.</li>
<li>Ελέγχει την καλή λειτουργία και συντήρηση των μηχανημάτων.</li>
</ul>
Δ. Για την γραμματειακή υποστήριξη εργαστηρίου φυσικοθεραπείας:
<ul>
<li>Υποστηρίζει την λειτουργία της γραμματείας και τηρεί αρχείο ασθενών (παρουσιολόγιο).</li>
<li>Τηρεί τα στατιστικά στοιχεία σχετικά με το είδος και τον αριθμό των επισκέψεων φυσικοθεραπείας .</li>

<li>Διεκπεραιώνει την τηλεφωνική επικοινωνία του εργαστηρίου φυσικοθεραπείας.</li>
<li>Τηρεί την αλληλογραφία του εργαστηρίου φυσικοθεραπείας.</li>
<li>Ταξινομεί τα παραπεμπτικά των ασφαλιστικών ταμείων και φροντίζει για τη διεκπεραίωσή τους.</li>
<li>Χειρίζεται τα προγράμματα του υπολογιστή.</li>
</ul>		  
			
			
        </div>
        <div class="uk-modal-footer uk-text-right">
            <button class="uk-button uk-button-default uk-modal-close" type="button">Κλεισιμο</button>
			<a class="uk-button uk-button-primary" href="https://www.dypa.gov.gr/storage/katartisi/iek/odighi-spoydwn-2022-2023/8-bohthos-fysikotherapias.pdf">Προβολη Οδηγου Σπουδων</a>

   
        </div>
    </div>
</div>
