
<div class="uk-section" style="text-align:center; background-color:grey;">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1218.9156912235942!2d25.388024602489423!3d41.1201248652069!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14adeea9aaf919d5%3A0x895c948186db302b!2zzpQuzqXOoC7OkSDOms6gzpEyIM6azr_OvM6_z4TOt869zq7Pgg!5e0!3m2!1sel!2sgr!4v1678594830102!5m2!1sel!2sgr" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 <br>
 <hr><img src="img/yp_ergasias.jpg" style="float:center;"><br>
  

    
</div>
