
<div class="uk-section" style="text-align:center; background-color:grey;">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3005.6445314650446!2d25.385020115417536!3d41.12045377928964!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14adeea9ad950b75%3A0x1494bac868a8f904!2zzpTOpc6gzpEgzprOv868zr_PhM63zr3Ors-CIM6VzqDOkc6jIC0gzprOlc6aIC0gzpnOlc6a!5e0!3m2!1sel!2sgr!4v1680187018887!5m2!1sel!2sgr" width="300" height="300" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
 
 <br><img src="img/yp_ergasias.webp" style="float:center;"><br>
  

    
</div>
