<head>

<meta charset="UTF-8">
<title>ΙΕΚ ΔΥΠΑ Κομοτηνής</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
 <meta name="robots" content="index, follow">
<link rel="canonical" href="https://iek-dypa-komotinis.gr/">
<meta name="description" content="Δωρεάν Ινστιτούτο Επαγγελματικής Κατάρτισης στον Νομό Ροδόπης, Κομοτηνή. Με πληθώρα ειδικοτήτων, καθώς και άρτια εκπαιδευμένο μόνιμο προσωπικό.">
<meta name="keywords" content="ιεκ, ΙΕΚ, IEK, iek, κομοτηνη, κομοτηνή, Κομοτηνή, κομοτηνης, komotinis, Κομοτηνής, Komotini, κομοτινι, πληροφορικη, πληροφορική, pliroforiki">

 <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico">

<link rel="stylesheet" href="{{ site.baseurl }}/css/uikit.min.css" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.3.0/css/all.min.css" />


<script src="{{ site.baseurl }}/js/uikit.min.js"></script>
<script src="{{ site.baseurl }}/js/uikit-icons.min.js"></script>
<style>
html {
  scroll-behavior: smooth;
}

</style>




</head>
