<div id="top" class="uk-position-relative uk-visible-toggle uk-light" tabindex="-1" uk-slideshow="animation: push; pause-on-hover:false; autoplay: true; autoplay-interval: 3000;">

    <ul class="uk-slideshow-items" uk-height-viewport="offset-top: true;">
        <li>
            <img src="img/1.jpg" alt="" uk-cover>
            <div class="uk-position-center uk-position-small uk-text-center">
                <h2 uk-slideshow-parallax="x: 100,-100">Καλώς ορίσατε στη σελίδα του ΙΕΚ ΔΥΠΑ Κομοτηνής</h2>
                <p uk-slideshow-parallax="x: 200,-200">Ξεκίνα τις σπουδές σου στο ΙΕΚ μας!</p>
            </div>
        </li>
        <li>
            <img src="img/5.jpg" alt="" uk-cover>
            <div class="uk-position-center uk-position-small uk-text-center">
                <h2 uk-slideshow-parallax="x: 100,-100"><i style="color:#1e87f0;" class="fa regular fa-building-columns fa-5x"></i></h2>
                <p uk-slideshow-parallax="x: 200,-200">Στην Δημόσια Υπηρεσία Απασχόλησης (Δ.ΥΠ.Α.) (πρώην ΟΑΕΔ) λειτουργούν 31 ΙΕΚ σε όλη την Ελλάδα, με 47 σύγχρονες ειδικότητες, όπου φοιτούν 3.800 σπουδαστές.</p>
            </div>
        </li>
        <li>
            <img src="img/3.jpg" alt="" uk-cover>
            <div class="uk-position-center uk-position-small uk-text-center">
                <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0"><i style="color:#1e87f0;" class="fa regular fa-calendar-days fa-5x"></i><br>5 Εξάμηνα Φοίτησης <br></h2>
                <p uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0">4 Εξάμηνα Θεωρητικής και Εργαστηριακής Κατάρτισης <br> 1 εξάμηνο Πρακτικής Άσκησης ή Μαθητείας</p>
            </div>
        </li>
		 <li>
            <img src="img/2.jpg" alt="" uk-cover>
            <div class="uk-position-center uk-position-small uk-text-center">
                <h2 uk-slideshow-parallax="y: -50,0,0; opacity: 1,1,0"><i style="color:#1e87f0;" class="fa-solid fa-graduation-cap fa-5x"></i><br>Δίπλωμα Επιπέδου 5<br></h2>
                <p uk-slideshow-parallax="y: 50,0,0; opacity: 1,1,0">Μετά από εξετάσεις πιστοποίησης αρχικής επαγγελματικής κατάρτισης</p>
            </div>
        </li>
    </ul>

    <a class="uk-position-center-left uk-position-small uk-hidden-hover" href="#" uk-slidenav-previous uk-slideshow-item="previous"></a>
    <a class="uk-position-center-right uk-position-small uk-hidden-hover" href="#" uk-slidenav-next uk-slideshow-item="next"></a>

</div>
