
<div uk-sticky>
<nav style="float:right;">


<button style="color:#FFFFFF;" class="uk-button uk-button-primary" type="button" uk-toggle="target: #offcanvas-nav-primary"><i class="fa-solid fa-bars"></i>&nbsp;&nbsp;MENU</button>
<div id="offcanvas-nav-primary" uk-offcanvas="overlay: true">
    <div class="uk-offcanvas-bar uk-flex uk-flex-column">

        <ul class="uk-nav uk-nav-primary uk-nav-center uk-margin-auto-vertical">
            <li><a href="{{ site.url }}/#top">Αρχική</a></li><hr>
					<li><a href="{{ site.url }}/#about">Σχετικά με το ΙΕΚ</a></li><hr>
					<li><a href="{{ site.url }}/#eid">Ειδικότητες</a></li><hr>
		<li><a href="{{ site.url }}/#egg">Δικαιολογητικά για την Εγγραφή</a></li><hr>
                    <li><a href="{{ site.url }}/#news">Νεα - Ανακοινώσεις</a></li><hr>
					 <li><a href="{{ site.url }}/#contact">Επικοινωνία</a></li>
        </ul>

    </div>
</div>
</nav>
</div>
