<div id="news" class="uk-section uk-section-muted">
	<h1 class="uk-heading-line uk-text-center"><span>ΝΕΑ - ΑΝΑΚΟΙΝΩΣΕΙΣ</span></h1>

    <div class="uk-container">

		<hr>
        <div class="uk-grid-match uk-child-width-1-3@m" uk-grid>
		
		 {% for post in site.posts limit:6 %}
		
				<div class="uk-card uk-card-default uk-card-body uk-width-1-2@m">
				<h3 class="uk-card-title"><a href="{{post.url | absolute_url}}"> <p class="uk-text-lead">{{ post.title }}</p></a></h3>
				<p class="uk-text-meta">{{ post.content | strip_html | truncatewords: 50 }} </p>
				<p class="uk-text-meta">Ημερομηνία Δημοσίευσης: {{post.date | date: '%d/%m/%Y'}} </p>
				</div>
		
				 {% endfor %} 
				
            </div>
			
        </div>
		

    </div>
	
</div>


<div class="uk-section uk-section-muted" style="text-align:center;">
    <div class="uk-container">

   <a class="uk-button uk-button-primary" href="{{ site.baseurl }}/news/">Ολες οι Ανακοινωσεις</a>

    </div>
</div>

