<div class="uk-section-default">
    <div class="uk-section uk-light uk-background-cover" style="background-image: url(images/dark.jpg)">
        <div class="uk-container" style="text-align:center;">
			<img src="img/yp_ergasias.jpg" >
                   
             
                    <img src="img/gov_gr.jpg" >
              
                     <img src="img/europe.jpg" >
                
                     <img src="img/elpida.jpg" >
                
                     <img src="img/greek_digital.jpg" >
              
                     
             <img src="img/ellada2.jpg" >
 <img src="img/eopep.jpg" >
  
    </div>
</div>
</div>
