---
layout: newsfrontlayout
---



<div class="uk-section uk-section-muted" style="text-align:center;">
    <div class="uk-container">

       
<article class="uk-article">

    <h1 class="uk-article-title"><a class="uk-link-reset" href="">{{ page.title }}</a></h1>

    <p class="uk-article-meta">Αναρτήθηκε απο την <a href="#">Γραμματεία ΙΕΚ ΔΥΠΑ Κομοτηνής</a> <p class="uk-text-meta">Ημερομηνία Δημοσίευσης: {{page.date | date: '%d/%m/%Y'}} </p> 
	<hr>
    <p class="uk-text-lead"> {{ content }} </p>
   
</article>



    </div>
</div>
